.hero-section {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/21/15/58/wedding-1846114_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
  }
  